<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="co.sol.mapper.AdminMapper">


	
	<!--  그래프 관련 입니다. 게시판 b_div당 게시글의 개수를 가져옵니다. -->
	<select id="getBoardcnt" resultType="Map">
		select b_div, count(b_div) from b_table group by b_div
	</select>
	
	
	
	<!--그래프 관련 입니다. 가입 월 별 유저 수+누적 유저수를 가져옵니다. -->
	<select id="getUsercnt" resultType="Map">
		SELECT TO_CHAR(u_joindate, 'yyyy-mm') as JOINMONTH, COUNT(*), 
			sum(count(*)) OVER(order BY TO_CHAR(u_joindate, 'yyyy-mm')) as TOTAL
		FROM u_table 
		GROUP BY TO_CHAR(u_joindate, 'yyyy-mm')
	</select>
	
	
	<select id="getUserList" resultType="co.sol.main.UVO">
		select * from u_table order by u_no
	</select>



</mapper>