<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="co.sol.mapper.BMapper">


	<sql id="basic">
		<trim prefixOverrides="OR" suffix=") AND " prefix="(">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()"> b_title like '%'||#{keyword}||'%' </when>
						<when test="type == 'C'.toString()"> b_con like '%'||#{keyword}||'%' </when>
						<when test="type == 'W'.toString()"> b_writer like '%'||#{keyword}||'%' </when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>



	<select resultType="co.sol.main.BVO" id="getList">
		-<![CDATA[
		select * from b_table where b_no > 0 
		]]>
	</select>



	<insert id="insert">
		<selectKey keyProperty="number" order="BEFORE" resultType="int">
			select max(b_no)+1 from b_table
		</selectKey>
		insert into b_table values 
			(number, #{b_div}, #{b_title}, #{b_con}, #{b_writer}, 
			sysdate, sysdate, #{b_eno}, 'Y', 0)
	</insert>
	


	<select id="sel" resultType="co.sol.main.BVO">
		select * from b_table where	b_no=#{b_no}
	</select>
	
	<update id="upViewcount">		
		update b_table set b_vc=b_vc+1 where b_no=#{b_no} 
	</update>



	<!-- <delete id="del"> delete from b_table where b_no=#{b_no} </delete> -->
	<update id="del">
		update b_table
		set b_title='삭제된 게시글 입니다.', b_con='삭제된 게시글 입니다.',
		b_writer='unknown', b_udate=sysdate, b_open='N'
		where b_no=#{b_no}
	</update>



	<update id="up">
		update b_table
		set b_title=#{b_title}, b_con=#{b_con},
		b_udate=sysdate, b_eno=#{b_eno}, b_open=#{b_open}
		where b_no=#{b_no}
	</update>



	<select resultType="co.sol.main.BVO" id="getPage">
		<![CDATA[
			select * from (
				select /*+INDEX_DESC(b_table pk_board) */
					rownum rn, b_no, b_title, b_writer, b_wdate, b_udate
					from b_table where 
		]]>
		<trim prefixOverrides="OR" suffix=") AND " prefix="(">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()"> b_title like '%'||#{keyword}||'%' </when>
						<when test="type == 'C'.toString()"> b_con like '%'||#{keyword}||'%' </when>
						<when test="type == 'W'.toString()"> b_writer like '%'||#{keyword}||'%' </when>
					</choose>
				</trim>
			</foreach>
		</trim>
		<![CDATA[
					rownum<=(#{pageNum} * #{amount})
      		) where rn > (#{pageNum} -1)* #{amount} 
		]]>
	</select>



	<select id="getCount" resultType="int">
		select count(*) from b_table where
		<include refid="basic" />
		b_no>0
	</select>

</mapper>