<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.sol.mapper.CMapper">

	<select id="getList" resultType="co.sol.main.CVO">
		
	</select>


	<insert id="insert">
		
	</insert>
	
	
	<update id="modify">
	
	</update>
	
	
	<update id="delete">
	
	</update>


<!-- 
//	public List<CVO> getList(int b_no);
//	public void insert(CVO comment);
//	public void modify(CVO comment);
//	public void delete(CVO comment);
 -->
</mapper>