<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.sol.mapper.DataMapper">

	<select id="getEList" resultType="co.sol.main.EVO">
		select * from exercise
		<trim prefix="where" prefixOverrides="and"> <!-- div, partno? and/or -->
			<if test="e_div!=null">
				e_div=#{e_div}
			</if>
			<if test="e_partno!=null">
				and e_partno=#{e_partno}
			</if>
		</trim>
	</select>


	<select id="getMList" resultType="co.sol.main.MVO">
		select * from machine
		<trim>
			<if test="">
			</if>
		</trim>
	</select>
	
	
	<insert id="addExercise">
		<selectKey keyProperty="e_no" order="BEFORE" resultType="int">
			select max(e_no)+1 from e_table
		</selectKey>
		insert into e_table values(e_no,)
	</insert>
	
	
	<insert id="addMachine">
	
	</insert>

</mapper>
