<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.sol.mapper.GymMapper">

	<select id="getList" resultType="co.sol.main.GVO">
		select * from g_table
		<if test="search!=null">
			where g_addr like '%'||#{search}||'%'
		</if>
	</select>
	
	
	
	<select id="getlocallist" resultType="co.sol.main.GVO">
		select * from g_table where g_addr like '%'||#{keyword}||'%'
	</select>
	
	
	
	<select id="getReview" resultType="co.so.main.RVO">
		select * from r_table where g_no = #{g_no};		
	</select>
	
	
	
	<select id="getOneGym" resultType="co.sol.main.GVO">		
		select * from g_table where g_no = #{g_no}	
	</select>
	
</mapper>