<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.sol.mapper.GymMapper">

	
	<!--리뷰를 가져올 때 결과값을 받기 위한 map입니다.
	리뷰테이블(r_table)에 저장되는 작성자 정보는 u_no인데 (RVO에도 u_no만 존재)
	프런트가 필요한 값은 u_id라 결과값을 받을 VO가 없어 resultMap으로 결과를 받습니다. -->
	<resultMap type="co.sol.main.UVO" id="id">
		<result column="u_id" property="u_id"/>
	</resultMap>
	
	<resultMap type="co.sol.main.RVO" id="reviews">
		<result column="r_score" property="r_score"/>
		<result column="r_rev" property="r_rev"/>
		<result column="r_date" property="r_date"/>
		<collection property="id"/>
	</resultMap>
	

	<!--g_no 오름차순으로 정렬된 모든 헬스장의 모든 정보를 가져옵니다. 주소(search)를 input할 경우 필터링 하여 가져옵니다.  -->
	<select id="getList" resultType="co.sol.main.GVO">
		select /*+INDEX_ASC(g_table SYS_C0031863) */ * from g_table
		<if test="search!=null">
			where g_addr like '%'||#{search}||'%'
		</if>
	</select>
	
	
	
	<!--특정 헬스장의 모든 리뷰를 최신순으로 가져옵니다.  -->
	<select id="getReview" resultMap="reviews">
		select /*+INDEX_DESC(r_table SYS_C0031865) */ 
		r_score, r_rev, r_date, u_id
		from r_table natural join u_table
		where g_no = #{g_no};
	</select>
	
	
	
	<!--특정 g_no를 가지는 헬스장의 모든 정보를 가져옵니다.  -->
	<select id="getOneGym" resultType="co.sol.main.GVO">		
		select * from g_table where g_no = #{g_no}	
	</select>
	
</mapper>