<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.sol.mapper.LogMapper">

	<!--로그를 가져올 때 결과값을 받기 위한 map입니다. 
	<resultMap type="co.sol.main.BVO" id="joinboard">
		<result column="b_title" property="b_title"/>
		<result column="b_writer" property="b_writer"/>
	</resultMap>

	<resultMap type="co.sol.main.LVO" id="log">
		<result column="u_no" property="u_no"/>
		<result column="b_no" property="b_no"/>
		<result column="l_reno" property="l_reno"/>
		<result column="l_div" property="l_div"/>
		<result column="l_date" property="l_date"/>
		<collection property="joinboard"/>
	</resultMap>
	-->
	
	
	<!--특정 u_no의 모든 로그를 최신순으로 가져옵니다. 
	b_table과 join하여 게시글의 제목과 작성자 id도 함께 가져옵니다.  -->
	<select id="getList" resultType="co.sol.main.LVO">
		-<![CDATA[
		select /*+INDEX_DESC(l_table SYS_C0031914) */ 
		u_no, b_no, l_reno, l_div, l_date, b_title, b_writer 
		from l_table natural join b_table 
		where u_no = #{u_no}
		]]> 
		<!-- 
		<trim prefix="and">
			<choose>
				<when test="select=='scrap'.toString()">
					l_div=1
				</when>
				<when test="select=='write'.toString()">
					l_div=2
				</when>
				<when test="select=='comment'.toString()">
					l_div=3
				</when>
			</choose>
		</trim>
		 -->
	</select>
	
	
	
	<!--스크랩 로그를 insert합니다. 댓글작성과 게시글작성 로그는 trigger로 자동 입력됩니다.  -->
	<insert id="scrap">
		<selectKey keyProperty="l_no" order="BEFORE" resultType="int">
			select max(l_no)+1 from l_table
		</selectKey>
		insert into l_table (l_no, u_no, b_no, l_div)
			values(#{l_no}, #{u_no}, #{b_no}, 1)
	</insert>
	
	
	
	<select id="checkscrap" resultType="int">
		select count(*) from l_table where u_no=#{u_no} and b_no=#{b_no} and l_div=1
	</select>
	
	
</mapper>